mixin c-promo(data)
    a(href=data.link target="_blank" xt="SPCLICKSTREAM" name=data.link).tileLink
        img.topImage(src=`assets/img/mail/${data.image}.jpg`)
        wrapper.tile
            center
                img.imgPrct(src=`assets/img/prct/${data.discount}.png`)
                p.centerText= data.categorie1
                p.centerText= data.categorie2
                    br
                wrapper.btn.red
                    p.centerText= data.cta + " ›"