mixin tile-J-test(data)
    a(href=data.link target="_blank").tileLink
        img.topImage(src=`assets/img/mail/${data.image}.jpg`)
        wrapper.tile
            center
                span.spacer
                p.centerText= data.categorie1
                    br
                    strong= " "+data.categorie2


                wrapper.btn.blue
                        p.centerText= data.cta
                            span#arrow
                                img(src="assets/img/button-arrow.png", alt="arrow")